<div class="portada">
  <div class="header">
    <div class="top-nav">
      <div class="blacktext">LOGISTICS</div>
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
      <ul class="menu">
        <li><a href="#info">INFORMATION</a></li>
        <li><a href="#top-products">TOP PRODUCTS</a></li>
        <li><a href="#sales-week">SALES WEEK</a></li>
        <li><a href="#benefit">BENEFIT</a></li>
        <li><a href="#predicted">PREDICTED SALES</a></li>

      </ul>
    </div>
  </div>
  <div class="centervertical">´
    <img class="img-fluid" src="./assets/logo-mwc.png">
    <select class="text-center big">
        <option value="">Select a Center</option>
      <option value="1">Center 11</option>
      <option value="2">Center 12</option>
      <option value="3">Center 13</option>
      <option value="all">All centers</option>
    </select>

  </div>
</div>
