<style>
    .container{
        background-color: #040234;
    }
    .base{
        max-width: 1080px;
        margin: auto;
        padding: 50px 0px;
    }
    .title{
        color: #fff;
        font-size: 2em;
    }
    .subtitle{
        color: #3408E5;
        
    }
</style>

<section id="week-sales">
    <div class="container">
        <div class="base">

        <h3 class="subtitle">SALES THIS WEEK</h3>
        <!-- Histogram -->
        <div id="salesWeek">chart</div>
    </div>
    </div>
</section>