
<section>
<div class="container" id="top-products">
    <div class="base">
  <h2 class="title">Statistics</h2>
    <h3 class="subtitle">TOP PRODUCTS THIS MONTH</h3>
    <div class="top-products">
        <div class="cards">
            <div class="card">
                <div class="product">Product id: 4</div>
               <div class="quantity">Quantity: 55</div> 
            </div>
            <div class="card">
                <div class="product">Product id: 22</div>
               <div class="quantity">Quantity: 52</div> 
            </div>
            <div class="card">
                <div class="product">Product id: 57</div>
               <div class="quantity">Quantity: 40</div> 
            </div>
        </div>
    </div>
</div>

</div>
</section>