<!-- Display all center information -->
<div class="main-title">
    <h1>MWC MARKETS</h1>
</div>

<div class="center-info">
    <div class="center-title">
        <h1>CENTER X</h1>
        <p>8929359</p>
    </div>
    <div class="details">
            <p>City code: 0294</p>
            <p>Region code: 394</p>
            <p>Center type: 92390</p>
            <p>Operation area: 923</p>
    </div>
    <div class="top-products">
        <h3>Top products</h3>
        <ol>
            <li>1. Product 1</li>
            <li>2. Product 2</li>
            <li>3. Product 3</li>
        </ol>
    </div>
</div>