<!-- Display all center information -->
<section id = info>
    <div class="container">
        <div class="base">

        <div class="main-title">
            <h1>MWC MARKETS</h1>
        </div>

        <div class="center-info">
            <div class="center-title">
                <h2>Center {{center.center_id}}</h2>
                <p>TYPE {{center.center_type}}</p>
            </div>
            <div class="details">
                <p>City code: {{center.city_code}}</p>
                <p>Region code: {{center.region_code}}</p>
                <p>Operation area: {{center.op_area}}</p>
            </div>
            <div class="top-products">
                <h3>Top products</h3>

                <div class="cards">
                    <div class="card">
                        <div class="product">Product id: 4</div>
                       <div class="quantity">Quantity: 55</div> 
                    </div>
                    <div class="card">
                        <div class="product">Product id: 22</div>
                       <div class="quantity">Quantity: 52</div> 
                    </div>
                    <div class="card">
                        <div class="product">Product id: 57</div>
                       <div class="quantity">Quantity: 40</div> 
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>